@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito&family=Roboto+Mono:wght@200;300;400&display=swap');

@media and screen only (maxwidth: 800px) {

}

html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'nunito', sans-serif;
}

#header {
   
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: rgb(182, 176, 176);
}

#header-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0px;   
}

#header h1 {
    margin: 0px;
    margin-right: auto;
    margin-left: 5px;
    padding: 0px;
    font-size: 25px;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
}

#nav-bar ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 60px; 
    margin-right: 100px;
}

#nav-bar a {
    text-decoration: none;
    color: white;
}

#nav-bar a:hover {
    color: lightblue;
}

.top-section {
    text-align: center;
    color: rgb(103, 182, 208);
    margin-top: 50px;
}

.top-section #email {
    padding: 5px 35px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(103, 182, 208);
}

.top-section #submit {
    padding: 6px 50px;
    background-color: rgb(103, 182, 208);
    color: white; 
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid white; 
}

.top-section #submit:hover {
    cursor: pointer;
    background-color: rgba(249, 62, 62, 0.845);
    transition: all ease-in-out 300ms;
}

.middle {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
    padding: 25px;
}

.middle #logos {
    display: block;
    width: 80px;
}

.middle .shipping h3 {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 25px; 
}

.middle p {
    margin: 0px;
    padding: 0px;
}

#how-it-works {
    text-align:center; 
    padding: 30px;
    margin-top: 60px;
}

#pricing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

#pricing .box {
    border: 1px solid black;
    padding: 5px 80px;
    text-align: center;
}

#pricing .box h4 {
    color: white;
    background-color: rgb(182, 176, 176);
    padding: 20px;
    text-transform: capitalize;
    font-size: 20px;
}

#pricing .box h5 {
    font-weight: bold;
    font-size: 20px;
}

#pricing .box input {
    padding: 5px 30px;
    margin-bottom: 10px;
    background-color: rgb(103, 182, 208);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

#pricing .box input:hover {
    cursor: pointer;
    background-color: rgba(249, 62, 62, 0.845);
    transition: all ease-in-out 300ms;
}

.footer {
    text-align: right;
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
    margin-top: 20px;
    background-color:rgb(182, 176, 176) ;
    color: white; 
    padding: 20px;
}

.footer h6, .footer p {
    margin: 0px;
    padding: 0px;
}

.footer h6 {
    word-spacing: 10px;
    font-weight: bold;
    font-size: 15px;
}

.footer h6:hover {
    cursor: pointer;
}

.footer p {
    font-size: 12px;
}